@media (min-width: $min-screen-break) {

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  80% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
}
