$color-dark: #000;

$color-employee-light-bg: #fff;
$color-employee-border: #a8a8a8;

$color-modal-bg: rgba(0, 0, 0, 0.5);
$color-modal-text: #c6c6c6;
$color-modal-boxshadow:rgba(0, 0, 0, 0.2);


$color-boxshadow: rgba(0, 0, 0, 0.25);


$min-screen-break: 1024px;
