

.contact {
  &-info {
    margin-left: 2em;
  }
  &-name {
    font-weight: bold;
    padding: .5em 0;
    text-transform: capitalize;
  }
  &-email, &-city, &-address, &-birthday {
    color: $color-employee-border;
    font-weight: 300;
    font-size: .9em;
    padding: .5em 0;
  }
  &-city, &-address {
    text-transform: capitalize;
  }
  &-address, &-birthday {
    display: none;
  }
  @media(min-width: $min-screen-break ) {
    &-info {
      margin: 1.1em 0 0 1em;
      width: 90%;
    }
  }
}
